<a href="https://colab.research.google.com/github/akshayvenu/campusx-tasks/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
# Write your code here
num=float(input('Enter celsius'))
fahrenheit=(num*1.8)+32
print(fahrenheit)

Enter celsius32
89.6

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
# Write your code here
a=int(input("enter your number"))
b=int(input("enter your number"))

temp=a
a=b
b=temp
print(a,b)

enter your number1
enter your number0
0 1

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# x1,x2   y1,y2
# input lega
x1=float(input('enter number'))
y1=float(input('enter number'))
x2=float(input('enter number'))
y2=float(input('enter number'))
# formula
d=((x2-x1)**2+(y2-y1)**2)**.5
# print
print(round(d,2))

enter number0
enter number0
enter number2
enter number2
2.83

In [ ]:
4**2

16

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
# Write your code here
# Simple Interest = (P x T x R)/100 
# input lelo
p=float(input('principle amount '))
r=float(input('rate of intrest '))
t=float(input('time period '))

Simple_Interest = (p*r*t)/100
print(Simple_Interest)

principle amount 1000
rate of intrest 2
time period 2
40.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

# dogs=(legs-(head*2))/2
# chicken=head-dogs

# temp=0
# if(leg/2==head):
#   chick=leg/2 
# elif((leg/2)>head):
#   temp = (leg/2)-head dog = temp chick = head-temp

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
n=int(input('enter'))
a=0
for i in range (1,n+1):
  a=a+i*i

print(a)

enter3
14

In [ ]:
num=int(input('enter number '))
i=1
sum=0
while (i<=num):
  sum=sum+i*i
  i=i+1
print(sum)

enter number 3
14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:

first_num=int(input('enter'))
second_num=int(input('enter'))


n=int(input('enter'))

d=second_num-first_num

an=first_num+(n-1)*d

print(an)

enter3
enter6
enter5
15

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
import math
n1=float(input())
d1=float(input())
n2=float(input())
d2=float(input())

n=n1*d2+n2*d1
d=d1*d2

print('{}/{}'.format(n,d))

3
7
2
11
47.0/77.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
tank_h=int(input())
tank_l=int(input())
tank_b=int(input())

glass_h=int(input())
glass_r=int(input())

tank=tank_h*tank_l*tank_b

glass=3.14*glass_r*glass_r*glass_h

print(tank//glass)

20
20
20
3
1
849.0